body{
    background:rgb(71, 69, 241);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: transparent;
    border-radius: 30px;
    padding: 20px 30px;
    border: 2px solid gold;
    cursor: pointer;
    color: white;
    letter-spacing: 1.5px;
    font-size: 24px;
    position: relative;
    overflow: hidden;
}

button::before{
    content: "";
    background-color: rgb(182, 20, 82);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 30px;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s ;
}
button:hover::before{
        transform: rotate(0deg);
}